:root {
  --primary: #8e8d8a;
  --secondary: #e98074;
  --highlight: #e85a4f;
  --muted: #a09f9a;
  --button: #ddd;
  --bg-primary: #eae7dc;
  --bg-secondary: #eae2dc;
}

.App {
  align-items: center;
  background-color: var(--bg-primary);
  color: var(--primary);
  display: flex;
  flex-direction: column;
  font-family: 'Comfortaa', cursive;
  height: 100%;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  text-align: center;
}

.App section:nth-child(even) {
  background: var(--bg-secondary);
}