.people {
  min-height: 40vmin;
  padding: 1rem 0;
  width: 100%;
}

.people-title {
  color: var(--highlight);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.people-list {
  display: inline-block; 
  list-style-type: none;
  padding: 0;
  width: 350px;
  max-width: 80vw;
}

@media screen and (min-width: 1080px) {
  .people-list {
    width: 30vw;
    max-width: 400px;
  }
}

.person {
  color: var(--primary);
  display: flex;
  padding: 0.75rem;
  text-align: left;
}

.person div {
  padding: 0 1rem;
  align-self: center;
}

.person img {
  align-self: center;
}

.person:nth-child(even) {
  flex-direction: row-reverse;
  color: var(--secondary);
  text-align: right;
}

.person-details {
  text-align: justify; 
  color: var(--muted);
}