.products {
  min-height: 40vmin;
  padding: 1rem 0;
  width: 100%;
}

.products-button {
  background-color: var(--highlight);
  border: 0.1rem solid var(--highlight);
  border-radius: 0.25rem;
  color: var(--button);
  font-weight: bold;
  padding: 0.25rem;
}
.products-button:hover {
  background-color: inherit;
  border-color: var(--muted);
  color: var(--secondary);
}
.products-button:active {
  border: 0.1rem solid var(--highlight);
  color: var(--highlight);
}

.products-title {
  color: var(--highlight);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.products-list {
  align-items: center;
  display: flex; 
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.product {
  color: var(--primary);
  max-width: 80vw;
  padding: 0.75rem;
  text-align: left;
}

@media screen and (min-width: 480px) {
  .product {
    max-width: 400px;
  }
}

.product:nth-child(even) {
  color: var(--secondary);
  text-align: right;
}

.product-details {
  text-align: justify; 
  color: var(--muted);
}